<!-- blacksquare blackcurve -->
{% if page_obj.has_other_pages %}
<br>

<div class="paginationn">
    <ul>

        {% if page_obj.number > 3 %}
        <li>
            <a class="blacksquare" href="?city={{city}}&language={{language}}&page=1">
                START</a>
        </li>
        &nbsp; &nbsp; &nbsp;
        {% endif %}

        {% if page_obj.has_previous %}

        <li>
            <a class="blacksquare" href="?city={{city}}&language={{language}}&page={{page_obj.previous_page_number}}">
                <i class="fa fa-caret-left fa-lg" aria-hidden="true"></i>

            </a>
        </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}

        {% if page_obj.number == page %}
        <li><a class="blacksquareactive" href="#">{{page}}</a></li>

        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
        <li><a class="blacksquare"
               href="?city={{city}}&language={{language}}&page={{page}}">{{page}}</a></li>


        {% endif %}


        {% endfor %}

        {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}


<i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>

        <li>
            <a class="blacksquare" href="?city={{city}}&language={{language}}&page={{page_obj.paginator.num_pages}}">
                {{page_obj.paginator.num_pages}}</a>
        </li>
        {% endif %}


        {% if page_obj.has_next %}


        <li>
            <a class="blacksquare" href="?city={{city}}&language={{language}}&page={{page_obj.next_page_number}}">
                <i class="fa fa-caret-right fa-lg" aria-hidden="true"></i>
            </a>
        </li>

        {% endif %}

    </ul>
</div>
<br>
{% endif %}